* {
    padding: 0;
    margin: 0;
user-select: none;
-webkit-tap-highlight-color: none;
}


@font-face {
    font-family: Great1;
    src: url("./_fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
}

@font-face {
    font-family: Great2;
    src: url(./_fonts/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
    font-family: Great3;
    src: url("./_fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}